* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-sizing: border-box;
}
.container {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.img-section {
  background-image: url('./images/bg-img');
}
.img-section span {
  color: #07caff;
}
.img-section img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}
.img-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}
.img-text h1 {
  font-size: 4rem;
  word-spacing: 30px;
}
.img-section button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 200%);
  color: white;
  font-size: 24px;
  font-weight: bold;
  background: #07caff;
  padding: 10px 20px;
  border-radius: 5px;
}
