* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-sizing: border-box;
}
.container {
    width: 100%;
    margin: 0 auto;
  }
  
  @media (min-width: 640px) {
    .container {
      max-width: 640px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  }
  
  @media (min-width: 1024px) {
    .container {
      max-width: 1024px;
    }
  }
  
  @media (min-width: 1280px) {
    .container {
      max-width: 1280px;
    }
  }
  
  @media (min-width: 1536px) {
    .container {
      max-width: 1536px;
    }
  }
  header {
    background-color: #fff;
    text-align: left;
    justify-content:left;
    /* word-spacing: 200px; */
  }
  header h1{
    color: #07caff;
    text-align: left;
    padding-top: 15px;
    padding-right: 90px;
    margin-left: 70px;
    font-size: 2.5rem;
    display: inline-block;
  }
  .links {
    display: inline-block;
    text-align: left;
    padding-left: 0px;
  }
  .links a {
    text-decoration: none;
    color: #1f1f1fac;
    padding: 0 15px;
    display: inline-block;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    padding-right: 30px;
    margin-right: 10px;
    gap:0px;
    margin-bottom: 0px;
    translate: 0px -7px;
}
 .head-input{
   justify-content: right;
   margin-bottom: 12px;
   background-color: #e7e6e67f;
   translate: 0px -8px;
    margin-top: 20px;
    padding: 10px 130px 10px 10px;
    border: none;
    border-radius: 8px;
    margin-left: 470px;
}
.img-section{
  background-image: url('./images/bg-img');
}
.img-section span{
  color: #07caff;
}
.img-section img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}
.img-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  font-weight: bold;
  /* background: rgba(0, 0, 0, 0.5); */
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.img-text h1{
  font-size: 4rem;
  word-spacing: 30px;
}
.img-section button{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 200%);
  color: white;
  font-size: 24px;
  font-weight: bold;
  background: #07caff;
  padding: 10px 20px;
  border-radius: 5px;
}

