<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer Section</title>
    <link href="../layout/footer.css" rel="stylesheet" />
  </head>
  <body>
    <div class="footer">
      <h2>Logo</h2>
      <p>Subscribe to our newsletter</p>
      <input type="email" placeholder="Input your email" />
      <button class="btn_footer">Subscribe</button>

      <div class="links">
        <div>
          <strong>Product</strong>
          <p>Features</p>
          <p>Pricing</p>
        </div>
        <div>
          <strong>Resources</strong>
          <p>Blog</p>
          <p>User guides</p>
          <p>Webinars</p>
        </div>
        <div>
          <strong>Company</strong>
          <p>About us</p>
          <p>Contact us</p>
        </div>
        <div>
          <strong>Plans & Pricing</strong>
          <p>Personal</p>
          <p>Start up</p>
          <p>Organization</p>
        </div>
      </div>
      <div class="footer-bottom">
        <p>
          &copy; 2024 Brand, Inc. - <a>Privacy</a> - <a>Terms</a> -
          <a>Sitemap</a>
        </p>
        <div class="social-icons">
          <a href="#"><img src="../assets/twitter-line.png" alt="Twitter" /></a>
          <a href="#"
            ><img src="../assets/facebook-box-fill.png" alt="Facebook"
          /></a>
          <a href="#"
            ><img src="../assets/linkedin-fill.png" alt="LinkedIn"
          /></a>
          <a href="#"><img src="../assets/youtube-line.png" alt="YouTube" /></a>
        </div>
      </div>
    </div>
  </body>
</html>
