<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../layout/navbar.css" />
  </head>
  <body>
    <header class="container">
      <div class="navbar">
        <h1>PYRAMID</h1>
        <div class="links">
          <a href="">Courses</a>
          <a href="">Contact</a>
          <a href="">Home</a>
        </div>
        <div class="otviz">
          <input
            class="head-input"
            name="string"
            type="text"
            placeholder="Search ..."
          />
          <img src="../images/search-line.png" alt="" />
        </div>
      </div>
    </header>
  </body>
</html>
